zanaflex/workspaces/Zanaflex-Chat-DELETE-Session.json
{
  "name": "Zanaflex-Chat-DELETE-Session",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "zanaflex-session",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "abcfdce6-b2e5-4fbe-9a59-4959de6369ab",
      "name": "When called - DELETE session",
      "position": [-32, -112],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "a2450955-99fe-4f55-b057-1894f0fca81f"
    },
    {
      "parameters": {
        "jsCode": "const q = $input.first().json.query || $input.first().json.queryString || $input.first().json.body || {};\nconst sessionId = q.sessionId;\nconst userId    = q.userId;\nif (!sessionId) throw new Error('sessionId is required');\nif (!userId)    throw new Error('userId is required');\nreturn { sessionId, userId };"
      },
      "id": "1234fdce-b2e5-4fbe-9a59-4959de636901",
      "name": "Extract Params",
      "position": [176, -112],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM zanaflex_chat_message\n WHERE session_id = '{{ $json.sessionId }}'\n   AND user_id    = '{{ $json.userId }}'::uuid;",
        "options": {}
      },
      "id": "5678fdce-b2e5-4fbe-9a59-4959de636902",
      "name": "Delete Session from DB",
      "position": [400, -112],
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "credentials": {
        "postgres": { "id": "jFjeYH6Nt3aRNkoM", "name": "Supabase_database" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"sessionId\": \"{{ $('Extract Params').item.json.sessionId }}\"}",
        "options": {}
      },
      "id": "9abcfdce-b2e5-4fbe-9a59-4959de636903",
      "name": "Return Success",
      "position": [624, -112],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1
    }
  ],
  "pinData": {},
  "connections": {
    "When called - DELETE session": { "main": [[{ "node": "Extract Params", "type": "main", "index": 0 }]] },
    "Extract Params":                { "main": [[{ "node": "Delete Session from DB", "type": "main", "index": 0 }]] },
    "Delete Session from DB":        { "main": [[{ "node": "Return Success", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "id": "ZanaflexChatDeleteSession",
  "tags": []
}
